pip==20.2.3
jupyter==1.0.0
notebook==6.4.12
pandas==1.1.2
scikit-learn==1.0.1
cmake==3.26.3
jupyter_contrib_nbextensions==0.5.1
matplotlib==3.3.2
lightgbm==3.0.0
category_encoders==2.2.2
flask==2.2.5
waitress==2.1.2
requests==2.31.0